body {
    background-color: #FAFAD2;
}

p {
	font-size: large;
	color: #FF6347;
}

p::first-letter {
	color: Black;
	font-weight: bold;
	font-size: xx-large;
}

a:link {
    color: red;
}

a:visited {
    color: lawngreen;
}

a:hover {
    color: brown;
}

a:active {
    color: black;

img {	
   padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}